@import "tailwindcss";
@plugin "daisyui";

@property --offset {
    syntax: '<length>';
    inherits: false;
    initial-value: 3px;
}

@layer base {

    a {
        @apply underline decoration-dashed decoration-indigo-700 underline-offset-(--offset) break-words text-indigo-700;

        transition: --offset 250ms;
        text-decoration-skip-ink: none;

        &:hover {
            --offset: .35em;
        }

    }

    p,
    .p {
        @apply mb-8 text-2xl drop-shadow-lg leading-10;
    }

    code {
        @apply py-[.1rem] px-[.175rem] font-mono text-pink-500 bg-gray-300 select-all break-words before:content-['<'] after:content-['>'];
    }

}

@theme {

    --animate-wiggle: wiggle 1s ease-in-out infinite;

    @keyframes wiggle {
        0%,
        100% {
            transform: rotate(-3deg);
        }
        50% {
            transform: rotate(3deg);
        }
    }

}
