@import "tailwindcss";

@layer components {
    .present {
        @apply drop-shadow-lg !pe-[30px];

        ul:not(ul *) > li {
            @apply mb-4;
        }
    }

    .fragment.slide-right {

        @apply flex flex-col items-center;

        h1, p {
            @apply block w-fit;
        }

    }

    .fragment.slide-right:not(.current-fragment) {
        @apply items-start;

    }
    .fragment.fade-in {
        display: none;
    }

    .fragment.fade-in.current-fragment {
        display: block;
        float: right;
    }

    .animate-jiggle {
        animation: jiggle .2s linear 3;
    }

    @keyframes jiggle {
        50% {
            transform: skewY(1deg) skewX(-1deg) scale(1.06);
        }
    }

}
