---
import Slides from '../layouts/Slides.astro';
/*


What I do
What is code?
How I got here
How websites work
- view source code of YouTube
- Ask for other website and view that source code
Hand out paper with questions
Hand out paper with website



*/

// https://revealjs.com/markup/
---

<Slides>

    <section
        data-state="bg-gradient-to-r from-pink-500 to-yellow-500"
        data-transition="slide"
    >

        <h1 class="text-9xl text-slate-800 drop-shadow-lg mb-20">
            Hi class! <span class="animate-wiggle">👋</span>
        </h1>

        <p class="drop-shadow-lg text-3xl">
            I'm Natalia's Dad.
        </p>

    </section>

    <section
        data-state="bg-gradient-to-r from-pink-500 to-yellow-500"
        data-transition="slide"
    >
        <h2>My job is a Software Engineering Manager</h2>

        <p>Does anybody know what that software engineering is?</p>
    </section>

    <section
        data-state="bg-gradient-to-r from-pink-500 to-yellow-500"
        data-transition="slide"
    >

        <h1>My job is a Software Engineering Manager</h1>

        <p>Does anybody know what that software engineering is?</p>

    </section>

</Slides>
