---
import './src/styles/global.css';
// https://www.creative-tim.com/twcomponents/gradient-generator
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Natalia's Dad</title>
	</head>
	<body class="bg-gradient-to-bl from-emerald-400 to-cyan-400 text-black">
		<slot />
	</body>
</html>
