---
import Layout from '@/layouts/Layout.astro';
---
<Layout title="Presentation">
    <div class="reveal">
        <div class="slides">
            <slot />
        </div>
    </div>
</Layout>

<script>
import Reveal from 'reveal.js';
import Highlight from 'reveal.js/plugin/highlight/highlight';

import 'reveal.js/dist/reveal.css';
import 'reveal.js/dist/theme/black.css';
import 'reveal.js/plugin/highlight/monokai.css';

const deck = new Reveal({
    plugins: [
        Highlight
    ],
    hash: true,
    controls: true,
    progress: true,
    transition: 'fade',
});

deck.initialize();

deck.on('fragmentshown', (event) => {
    const lines = event.fragment.dataset.lineNumbers;
    if (lines) {
        const frag = document.querySelectorAll(`[data-fragment-lines="${lines}"]`);
        if (frag && frag.length) {
            frag[0].classList.remove('opacity-20');
        }
    }
});
</script>
